/* Full body */
body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(222, 215, 215);
}

/* This is header section */
header {
    background-color: rgb(164, 215, 245);
    /* color: white; */

}

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px;

}

#page-name {
    font-size: x-large;
    font-weight: bolder;
}

.group-nav span {
    margin-left: 40px;
    font-size: larger;
    font-weight: 500;
}

/*..................................... first section ....................*/

.top-section {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#top-title {
    font-size: xx-large;
    font-weight: 900;
}

#top-info {
    text-align: justify;
}

.btn-common {
    padding: 2%;
    background-color: rgb(13, 154, 214);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.btn-common:hover {
    padding: 2%;
    background-color: rgb(249, 118, 11);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

/*..................................... second section ....................*/
#second-section img {
    width: 100%;
}

/*..................................... third section ....................*/

.third-section {
    margin-top: 5%;
    margin-bottom: 5%;
    /* display: flex; */
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-info-3rd {
    padding: 5%;
    grid-gap: 3%;
    display: grid;
    /* background-color: rgb(129, 231, 127); */
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
}

.second-info {

    /* border: 2px solid rgb(255, 0, 242); */
    height: 50%;
    margin-top: 15%;

    margin-left: 15%;
}

.image-size {
    height: 100%;
    width: 100%;

}

#second-info-3rd {
    width: 50%;
    font-size: large;
}

#second-title-3rd {
    font-size: xx-large;
    font-weight: 900;
    /* font-size: larger; */
    /* border: 2px solid rgb(255, 0, 242); */
}

/*..................................... fourth section ....................*/
.fourth-section {
    /* border: 2px solid rgb(255, 0, 242); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;
}

.top-part {
    width: 70%;
}

.fourth-info {
    width: 50%;
    box-shadow: 10px 10px 5px 5px #aaaaaa;
    padding: 5%;
}

.left-side {
    margin-left: 10%;
    /* margin-top: 10%; */
}

#top-part-title {
    font-size: xx-large;
    font-weight: 900;
    width: 60%;
    border-left: 0.5rem solid yellow;
    padding: 2%;
}

.bonous-btn {
    /* margin-top: 5%; */
    margin-left: 40%;

}

/*..................................... fifth section ....................*/

.fifth-section {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-bottom: 5%;
}

.icons {
    /* border: 2px solid rgb(38, 255, 0); */
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.icon {
    border: 2px solid rgb(4, 0, 255);
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    border-radius: 3rem;

}

#another-info {
    font-size: x-large;
    font-weight: 500;
}


/*.....................................6th section ....................*/

.sixth-section {
    /* border: 2px solid rgb(255, 0, 0); */
    margin-bottom: 5%;
    margin-top: 5%;
}

.header-part {
    text-align: center;
    font-size: large;
    font-weight: 800;
}

.sponspors {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

/*................... special-section ......................*/
.special-section {
    border: 2px solid rgb(6, 13, 74);
    border-radius: 3rem;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2rem;
    display: flex;
    background-color: rgba(93, 102, 236, 0.711);
}

#special-section-info {
    margin-left: 5%;
    /* margin-top: 1%; */
    border-left: 1rem solid yellow;
    font-size: large;
    padding: 1rem;

}