/* Full body */
body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(222, 215, 215);
}

/* This is header section */
header {
    background-color: rgb(164, 215, 245);
    /* color: white; */

}

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px;

}

#page-name {
    font-size: x-large;
    font-weight: bolder;
}

.group-nav span {
    margin-left: 40px;
    font-size: larger;
    font-weight: 500;
}

/*..................................... first section ....................*/

.top-section {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#top-title {
    font-size: xx-large;
    font-weight: 900;
}

#top-info {
    text-align: justify;
}

.btn-common {
    padding: 2%;
    background-color: rgb(13, 154, 214);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.btn-common:hover {
    padding: 2%;
    background-color: rgb(249, 118, 11);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: medium;
    font-weight: 500;
}

/*..................................... second section ....................*/
#second-section img {
    width: 100%;
}

/*..................................... third section ....................*/

.third-section {
    margin-top: 5%;
    margin-bottom: 5%;
    /* display: flex; */
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-info-3rd {
    padding: 5%;
    grid-gap: 3%;
    display: grid;
    /* background-color: rgb(129, 231, 127); */
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
}

.second-info {

    /* border: 2px solid rgb(255, 0, 242); */
    height: 50%;
    margin-top: 15%;

    margin-left: 15%;
}

.image-size {
    height: 100%;
    width: 100%;

}

#second-info-3rd {
    width: 50%;
    font-size: large;
}

#second-title-3rd {
    font-size: xx-large;
    font-weight: 900;
    /* font-size: larger; */
    /* border: 2px solid rgb(255, 0, 242); */
}

/*..................................... fourth section ....................*/
.fourth-section {
    /* border: 2px solid rgb(255, 0, 242); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;

}

.top-part {
    width: 70%;
}

.fourth-info {
    width: 50%;
    box-shadow: 10px 10px 5px 5px #aaaaaa;
    padding: 5%;
}

.left-side {
    margin-left: 10%;
    /* margin-top: 10%; */
}

#top-part-title {
    font-size: xx-large;
    font-weight: 900;
    width: 60%;
    border-left: 0.5rem solid yellow;
    padding: 2%;
}

.fourth-image {
    position: relative;
    /* left: 0;
    top: 0; */
}

.bonous-btn {
    margin-top: -20%;
    margin-left: -10%;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 15rem;
    font-size: x-large;
    font-weight: 500;
}

.bonous-btn:hover {
    padding: 2%;
    background-color: rgb(249, 118, 11);
    border: none;
    border-radius: 1em;
    color: white;
    font-size: x-large;
    font-weight: 500;
}

/*..................................... fifth section ....................*/

.fifth-section {
    /* border: 2px solid red; */
    margin-top: 10%;
    margin-bottom: 10%;
}

.icons {
    /* border: 2px solid rgb(38, 255, 0); */
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.icon {
    border: 2px solid rgb(4, 0, 255);
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    transition: transform 2s;
}

.icon:hover {
    transform: scale(1.5) rotate(20deg);
    /* width: 15rem; */
    background-color: rgb(139, 201, 237);
}

#another-info {
    font-size: x-large;
    font-weight: 500;
}


/*.....................................6th section ....................*/

.sixth-section {
    /* border: 2px solid rgb(255, 0, 0); */
    margin-bottom: 10%;
    margin-top: 10%;
}

.header-part {
    text-align: center;
    font-size: large;
    font-weight: 800;
}

.sponspors {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

/*................... special-section ......................*/
.special-section {
    border: 2px solid rgb(6, 13, 74);
    border-radius: 3rem;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2rem;
    display: flex;
    background-color: rgba(93, 102, 236, 0.711);
}

#special-section-info {
    margin-left: 5%;
    /* margin-top: 1%; */
    border-left: 1rem solid yellow;
    font-size: large;
    padding: 1rem;

}

/*................... footer-section ......................*/
footer {
    background-color: rgba(105, 193, 247, 0.836);
    text-align: center;
    padding: 1rem;
}

/*................... Responsive Layout ......................*/

@media only screen and (max-width:576px) {
    .main-nav {
        display: block;

        /* justify-content: space-between; */
        height: 18rem;

        text-align: center;
        gap: 5rem;

    }

    .group-nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        text-align: center;
        margin-left: -2rem;
    }

    .btn-common {
        padding: 1rem;
        background-color: rgb(13, 154, 214);
        border: none;
        border-radius: 1em;
        color: white;
        /* font-size: medium; */
        font-weight: 300;
        margin: auto;
    }

    .third-section {
        margin-top: 5%;
        margin-bottom: 5%;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .first-info-3rd {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -1%;
    }

    #second-title-3rd {
        text-align: center;
    }

    .second-info {


        /* height: 50%; */
        margin-top: 55%;

        margin-left: 1%;
    }

    #second-info-3rd {

        font-size: large;

        width: 100%;

    }

    .fourth-section {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .left-side {
        margin-left: 1%;
        margin-right: 2%;
    }

    .fourth-info {

        box-shadow: 10px 10px 5px 5px #aaaaaa;
        padding: 0%;
        width: 100%;
    }

    .top-part {
        width: 100%;
    }



    .fourth-image img {
        margin-top: 10%;
        width: 100%;
        height: 100%;

    }

    .bonous-btn {
        margin-top: 10%;
        margin-left: 35%;
        margin-bottom: 10%;
        height: 3rem;
        width: 8rem;
        font-size: medium;
        font-weight: 200;
        padding: 5px;
    }

    .fifth-section {
        /* border: 2px solid red; */
        margin-top: 40%;
        margin-bottom: 10%;

    }

    #another-info {
        text-align: center;
    }

    .icons {
        /* border: 2px solid rgb(38, 255, 0); */
        display: block;
        align-items: center;
        margin-top: 5%;
        justify-content: center;
        margin-bottom: 5px;

    }

    .icon {
        border: 2px solid rgb(4, 0, 255);
        height: 10rem;
        width: 10rem;
        padding: 2rem;
        border-radius: 3rem;
        margin-left: 18%;
        margin-bottom: 5%;


    }

    .sponspors {
        display: block;
        justify-content: center;
        margin: auto;
        margin-top: 10%;

    }

    .sponspors img {
        margin-bottom: 10%;
        width: 80%;
        padding: 10%;
    }

    .special-section {

        margin-bottom: 5%;
        margin-top: 5%;
        padding: 2rem;
        display: block;
        text-align: center;

    }

    .top-t {
        max-width: auto;
        margin-left: 30%;
    }
}